<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css_zaire/Add_BOM.css">
    <title>Document</title>
</head>
<body>

    <style>
        .table-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        .table-container table {
            width: 49%; /* Ajuste conforme necessário */
        }
    </style>

    <div class="left-side-1">
        <form method="GET" action="{{ url_for('BOM.versoes') }}">
           
            <input style="width: 100%" type="text" name="placa" value="{{ placa }}" placeholder="Digite a placa"><br><br>
            <div class="button-container"style="display: flex; justify-content: flex-end; margin-right: 0.5px;">
                <button type="submit" class="btn btn-outline-success">Filtrar</button>
            </div>
        </form>
        <table style="text-align: center; border: 1px solid black; width: 100%; margin-top: 20px;">
            <thead>

            </thead>
            <tbody>
                {% if versoes %}
                    <tr>
                        <td>{{ versoes[0].Placa_V }}</td> <!-- Exibe a Placa uma vez -->
                        <td>{{ versoes[0].Descricao }}</td> <!-- Exibe a Descrição uma vez -->
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">-</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <table style="text-align: center; border: 1px solid black; width: 100%; margin-top: 20px;">
            <thead>
                <tr>
                    <th style="width: 25px;"></th>
                    <th style="width: 25px;"></th>
                    <th style="width: 25px;"></th>
                    <th>Versão</th>
                    <th>Status</th>
                    <th>Changelog</th>
                    <th>Criação</th>
                </tr>
            </thead>
            <tbody>
                {% for versao in versoes %}
                <tr>
                    <td>
                        <button type="submit" form="edit-form-{{ versao.ID_V }}" id="save-button-{{ versao.ID_V }}" class="btn btn-success" style="display: none; font-size: 10px; padding: 0.5px 4px;">Salvar</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" style="font-size: 10px; padding: 0.5px 4px;" onclick="toggleEdit2('{{ versao.ID_V }}')">Editar</button>
                    </td>                   
                    <td>
                        <form action="{{ url_for('BOM.Exclui_Versao', bom_id=versao.ID_V) }}" method="POST" style="display: inline;">
                            <button type="submit" style="font-size: 10px; padding: 0.5px 4px" class="btn btn-danger"><strong>X</strong></button>
                        </form>
                    </td>
                    <td>{{ versao.Versao }}</td>
                    <td>
                        <form action="{{ url_for('BOM.edit_versao_BOM', bom_id=versao.ID_V) }}" method="POST" id="edit-form-{{ versao.ID_V }}" style="display: inline;">
                            <span id="status-text-{{ versao.ID_V }}">
                                {% if versao.Status == 'Liberado' %}
                                    🟢
                                {% elif versao.Status == 'EOL' %}
                                    🟡
                                {% elif versao.Status == 'Não Liberado' %}
                                    🔴
                                {% else %}
                                    {{ versao.Status }}
                                {% endif %}
                            </span>
                            <input type="text" id="status-input-{{ versao.ID_V }}" name="new_status" value="{{ versao.Status }}" style="display: none; width: 150px; text-align: center;">
                        </form>

                        <!-- {% if versao.Status == 'Liberado' %}
                            🟢
                        {% elif versao.Status == 'EOL' %}
                            🟡
                        {% elif versao.Status == 'Não Liberado' %}
                            🔴
                        {% endif %} -->
                    </td>
                    <td>{{ versao.Changelog }}</td>
                    <td>{{ versao.Data_Cri }}</td>
                </tr>
                
                {% else %}
                    <tr>
                        <td colspan="5">-</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="table-container">
            <table style="text-align: center;" class="table-bordered">
                <thead>
                    <tr>
                        <td colspan="2"><strong>{{ placa }} Versão {{ v_max }} - Database</strong></td>
                    </tr>
                    <tr>
                        <th width="100">Componente</th>
                        <th width="100">Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in diferencas.exclusivos_em_BOMs %}
                        <tr>
                            <td>{{ item.componente }}</td>
                            <td>{{ item.quantidade }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">Nenhum componente exclusivo encontrado.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <table style="text-align: center;" class="table-bordered">
                <thead>
                    <tr>
                        <td colspan="2"><strong>{{ placa }} - SAP</strong></td>
                    </tr>
                    <tr>
                        <th width="100">Componente</th>
                        <th width="100">Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in diferencas.exclusivos_em_BOMs_SAP %}
                        <tr>
                            <td>{{ item.componente }}</td>
                            <td>{{ item.quantidade }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">Nenhum componente exclusivo encontrado.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <table style="text-align: center; width: 100%; margin-top: 20px;" class="table-bordered">
            <thead>
                <td colspan="3"><strong>Diferença de Quantidade</strong></td>
                <tr>
                    <th width="150">Componente</th>
                    <th width="180">Quantidade Database</th>
                    <th width="180">Quantidade SAP</th>
                </tr>
            </thead>
            <tbody>
                {% for item in diferencas.comuns_com_diferencas %}
                    <tr>
                        <td>{{ item.componente }}</td>
                        <td>{{ item.quantidade_BOMs }}</td>
                        <td>{{ item.quantidade_BOMs_SAP }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Nenhum componente comum com diferenças de quantidade encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <!-- Formulário para envio de dados via Excel -->
    <div class="right-side-1">
        <p class="form-description">O arquivo Excel deve conter apenas uma aba e as seguintes colunas: 'Placa', 'Versao', 'Status', 'Componente', 'Quantidade', 'Designator'. Deixar sempre PCI na primeira linha da versao</p>
        <form method="POST" action="{{ url_for('BOM.add_BOMs') }}" enctype="multipart/form-data">
            <label for="file" class="form-label">Selecione um arquivo Excel:</label>
            <input type="file" name="file" id="file" accept=".xlsx" required class="form-input">
            <div class="button-container"style="display: flex; justify-content: flex-end; margin-right: 25.5px;">
                <button type="submit" class="btn btn-outline-success">Enviar</button>
            </div>
        </form>
    </div>

    <!-- Formulário para envio manual de dados -->
    <div class="right-side-2">
        <p class="form-description">Preencha os dados da nova linha:</p>
        <form method="POST" action="{{ url_for('BOM.add_BOMs') }}">
            <div class="form-row">
                <div class="form-group">
                    <label for="new_placa" class="form-label">Placa:</label>
                    <input type="text" name="new_placa" required class="form-input">
                </div>
                <div class="form-group">
                    <label for="new_versao" class="form-label">Versão:</label>
                    <input type="text" name="new_versao" required class="form-input">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="new_quantidade" class="form-label">Quantidade:</label>
                    <input type="number" name="new_quantidade" required class="form-input">
                </div>
                <div class="form-group">
                    <label for="new_designator" class="form-label">Designador:</label>
                    <input type="text" name="new_designator" required class="form-input">
                </div>
            </div>
    
            <div class="form-row">
                <div class="form-group">
                    <label for="new_componente" class="form-label">Componente:</label>
                    <input type="text" name="new_componente" required class="form-input">
                </div>
                <div class="form-group">
                    <label for="new_status" class="form-label">Status:</label>
                    <input type="text" name="new_status" required class="form-input" disabled>
                </div>
            </div>
            
                <div class="button-container"style="display: flex; justify-content: flex-end; margin-right: 25.5px;">
                    <button type="submit" class="btn btn-outline-success">Enviar</button>
                </div>
        </form>
    </div>
    <!-- Menu e Flash -->
    {% include 'menu.html' %}
    <script src="../static/js_zaire/salvar_edit.js"></script>
</body>
</html>
