<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css_zaire/Add_BOM.css">
    <title>Document</title>
</head>
<body>

    <div class="left-side-1">

        <form method="GET" action="{{ url_for('BOM.versoes') }}">
            <label for="placa">Placa:</label>
            <input type="text" class="form-control" name="placa" value="{{ placa }}" placeholder="Digite a placa"><br><br>
            <div class="button-container">
                <button class="btn btn-outline-info" type="submit">Filtrar</button>
            </div>
        </form>

        <table>
            
        </table>
    </div>

    <!-- Formulário para envio de dados via Excel -->
    <div class="right-side-1">
        <p class="form-description">O arquivo Excel deve conter apenas uma aba e as seguintes colunas: 'Placa', 'Versao', 'Status', 'Componente', 'Quantidade', 'Designator'. Deixar sempre PCI na primeira linha da versao</p>
        <form method="POST" action="{{ url_for('BOM.add_BOMs') }}" enctype="multipart/form-data">
            <label for="file" class="form-label">Selecione um arquivo Excel:</label>
            <input type="file" name="file" id="file" accept=".xlsx" required class="form-input">
            <button type="submit" class="btn btn-outline-success">Enviar</button>
        </form>
    </div>

    <!-- Formulário para envio manual de dados -->
    <div class="right-side-2">
        <p class="form-description">Preencha os dados do novo BOM:</p>
        <form method="POST" action="{{ url_for('BOM.add_BOMs') }}">
            <label for="new_placa" class="form-label">Placa:</label>
            <input type="text" name="new_placa" required class="form-input"><br>

            <label for="new_versao" class="form-label">Versão:</label>
            <input type="text" name="new_versao" required class="form-input"><br>

            <label for="new_status" class="form-label">Status:</label>
            <input type="text" name="new_status" required class="form-input"><br>

            <label for="new_componente" class="form-label">Componente:</label>
            <input type="text" name="new_componente" required class="form-input"><br>

            <label for="new_quantidade" class="form-label">Quantidade:</label>
            <input type="number" name="new_quantidade" required class="form-input"><br>

            <label for="new_designator" class="form-label">Designador:</label>
            <input type="text" name="new_designator" required class="form-input"><br>

            <button type="submit" class="btn btn-outline-success">Enviar</button>
        </form>
    </div>

    <!-- Menu e Flash -->
    {% include 'menu.html' %}
</body>
</html>
