<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Estrutura Padrão</title>
</head>
<body>
    
    <table border="1" cellspacing="0" cellpadding="8">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Cidade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Ana</td>
                <td>25</td>
                <td>São Paulo</td>
            </tr>
            <tr>
                <td>2</td>
                <td>João</td>
                <td>30</td>
                <td>Rio de Janeiro</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Maria</td>
                <td>28</td>
                <td>Belo Horizonte</td>
            </tr>
        </tbody>
    </table>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>