<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css_zaire/Add_BOM.css">
    <title>Document</title>
    <style>
        .table-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        .table-container table {
            width: 49%; /* Ajuste conforme necessário */
        }
    </style>
</head>
<body>

    <div class="caixa_full_tela">
        <!-- Formulário de filtro -->
        <div style="display: flex; justify-content: flex-end; align-items: center;">
            <form method="GET" action="{{ url_for('BOM.versoes') }}" style="display: flex; align-items: center; gap: 10px; width: 100%; max-width: 400px;">
                <!-- Campo de entrada para a placa -->
                <input type="text" name="placa" value="{{ placa }}" placeholder="Digite a placa" style="flex: 1; padding: 4.5px;">
        
                <!-- Botão Filtrar -->
                <button type="submit" class="btn btn-outline-info">Filtrar</button>
            </form>
        </div>

        {% if placa %}

        <!-- Tabela de Placa e Descrição -->

            <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
                <table class="table-bordered" style="text-align: center; border: 1px solid black; width: auto;">
                    <thead></thead>
                    <tbody>
                        {% if versoes %}
                            <tr>
                                <td style="min-width: 150px; width: auto;">{{ versoes[0].Placa_V }}</td> <!-- Exibe a Placa com largura mínima e auto -->
                                <td style="min-width: 400px; width: auto;">{{ versoes[0].Descricao }}</td> <!-- Exibe a Descrição com largura mínima e auto -->
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">-</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        
        <!-- Tabela de Versões -->
        <table style="text-align: center; border: 1px solid black; width: 100%; margin-top: 20px;">
            <thead>
                <tr>
                    <th style="width: 25px;"></th>
                    <th style="width: 25px;"></th>
                    <th style="width: 25px;"></th>
                    <th>Versão</th>
                    <th>Status</th>
                    <th>Changelog</th>
                    <th>Data Criação</th>
                    <th>Eng. Resp.</th>
                    <th>GPD Resp.</th>
                    <th>Data Att.</th>
                    <th>Obs</th>
                </tr>
            </thead>
            <tbody>
                {% for versao in versoes %}
                <tr>
                    <!-- Botão Salvar (oculto inicialmente) -->
                    <td>
                        <button type="submit" form="edit-form-{{ versao.ID_V }}" id="save-button-{{ versao.ID_V }}" class="btn btn-success" style="display: none; font-size: 10px; padding: 0.5px 4px;">Salvar</button>
                    </td>

                    <!-- Botão Editar -->
                    <td>
                        <button type="button" class="btn btn-warning" style="font-size: 10px; padding: 0.5px 4px;" onclick="toggleEdit2('{{ versao.ID_V }}')">Editar</button>
                    </td>

                    <!-- Botão X -->
                    <td>
                        <form action="{{ url_for('BOM.Exclui_Versao', bom_id=versao.ID_V) }}" method="POST">
                            <button type="submit" style="font-size: 10px; padding: 0.5px 4px" class="btn btn-danger"><strong>X</strong></button>
                        </form>
                    </td>

                    <!-- Versão -->
                    <td>
                        {% if versao.Versao == v_max %}
                            V{{ versao.Versao }} (SAP)
                        {% else %}
                            V{{ versao.Versao }}
                        {% endif %}
                    </td>

                    <!-- Formulário de Edição -->
                    <form action="{{ url_for('BOM.edit_versao_BOM', bom_id=versao.ID_V) }}" method="POST" id="edit-form-{{ versao.ID_V }}">
                        <!-- Status -->
                        <td>
                            <span id="status-text-{{ versao.ID_V }}">
                                {% if versao.Status == 'Liberado' %}
                                    🟢
                                {% elif versao.Status == 'EOL' %}
                                    🟡
                                {% elif versao.Status == 'Não Liberado' %}
                                    🔴
                                {% else %}
                                    {{ versao.Status }}
                                {% endif %}
                            </span>
                            <input type="text" id="status-input-{{ versao.ID_V }}" name="new_status" value="{{ versao.Status }}" style="display: none; width: 150px; text-align: center;">
                        </td>

                        <!-- Changelog -->
                        <td>
                            <span id="changelog-text-{{ versao.ID_V }}">{{ versao.Changelog }}</span>
                            <input type="text" id="changelog-input-{{ versao.ID_V }}" name="new_changelog" value="{{ versao.Changelog }}" style="display: none; width: 150px; text-align: center;">
                        </td>

                        <!-- Data de Criação -->
                        <td>{{ versao.Data_Cri }}</td>

                        <!-- Eng. Resp. -->
                        <td>
                            <span id="eng-text-{{ versao.ID_V }}">{{ versao.Eng_Resp }}</span>
                            <input type="text" id="eng-input-{{ versao.ID_V }}" name="new_eng" value="{{ versao.Eng_Resp }}" style="display: none; width: 150px; text-align: center;">
                        </td>

                        <!-- GPD Resp. -->
                        <td>
                            <span id="gpd-text-{{ versao.ID_V }}">{{ versao.GPD_Resp }}</span>
                            <input type="text" id="gpd-input-{{ versao.ID_V }}" name="new_gpd" value="{{ versao.GPD_Resp }}" style="display: none; width: 150px; text-align: center;">
                        </td>

                        <!-- Data de Atualização -->
                        <td>
                            <span id="data-att-text-{{ versao.ID_V }}">{{ versao.Data_Att }}</span>
                            <input type="text" id="data-att-input-{{ versao.ID_V }}" name="new_data_att" value="{{ versao.Data_Att }}" style="display: none; width: 150px; text-align: center;">
                        </td>

                        <!-- Observações -->
                        <td>
                            <span id="obs-text-{{ versao.ID_V }}">{{ versao.Observacoes }}</span>
                            <input type="text" id="obs-input-{{ versao.ID_V }}" name="new_obs" value="{{ versao.Observacoes }}" style="display: none; width: 150px; text-align: center;">
                        </td>
                    </form>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="12">Nenhuma versão encontrada.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Formulário de Comparação -->
        <div style="display: flex; justify-content: flex-end; align-items: center; margin-top: 20px;">
            <form method="GET" action="{{ url_for('BOM.versoes') }}" style="display: flex; align-items: center; gap: 10px;">
                <!-- Campo oculto para enviar a placa -->
                <input type="hidden" name="placa" value="{{ placa }}">
        
                <!-- Label e Select para VA -->
                <label for="Va" style="margin-right: 5px;"><strong>#VA</strong></label>
                <select style="text-align: center; width: 100px; padding: 5px;" id="Va" name="Va">
                    <option value="SAP" {% if request.args.get('Va') == 'SAP' %}selected{% endif %}>SAP</option>
                    {% for versao in versoes %}
                        <option value="{{ versao.Versao }}" {% if request.args.get('Va') == versao.Versao %}selected{% endif %}>
                            {{ versao.Versao }}
                        </option>
                    {% endfor %}
                </select>
        
                <!-- Label e Select para VB -->
                <label for="Vb" style="margin-right: 5px;"><strong>#VB</strong></label>
                <select style="text-align: center; width: 100px; padding: 5px;" id="Vb" name="Vb">
                    <option value="SAP" {% if request.args.get('Vb') == 'SAP' %}selected{% endif %}>SAP</option>
                    {% for versao in versoes %}
                        <option value="{{ versao.Versao }}" {% if request.args.get('Vb') == versao.Versao %}selected{% endif %}>
                            {{ versao.Versao }}
                        </option>
                    {% endfor %}
                </select>
        
                <!-- Botão Comparar -->
                <button class="btn btn-outline-info" type="submit">Comparar</button>
            </form>
        </div>

        <!-- Tabelas de Comparação -->
        <div class="table-container">
            <!-- Tabela VA -->
            <table style="text-align: center;" class="table-bordered">
                <thead>
                    <tr>
                        <td colspan="3"><strong>{{ placa }} - V{{ Va }}</strong></td>
                    </tr>
                    <tr>
                        <th width="10">Código</th>
                        <th width="450">Descrição</th>
                        <th width="10">Qtd</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in diferencas.exclusivos_em_BOMs %}
                        <tr>
                            <td>{{ item.componente }}</td>
                            <td>{{ item.descricao|truncate(55)  }}</td>
                            <td>{{ item.quantidade }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Nenhum componente exclusivo encontrado.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Tabela VB -->
            <table style="text-align: center;" class="table-bordered">
                <thead>
                    <tr>
                        <td colspan="3"><strong>{{ placa }} - V{{ Vb }}</strong></td>
                    </tr>
                    <tr>
                        <th width="10">Código</th>
                        <th width="450">Descrição</th>
                        <th width="10">Qtd</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in diferencas.exclusivos_em_BOMs_SAP %}
                        <tr>
                            <td>{{ item.componente }}</td>
                            <td>{{ item.descricao }}</td>
                            <td>{{ item.quantidade }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Nenhum componente exclusivo encontrado.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Tabela de Diferenças de Quantidade -->
        <table style="text-align: center; width: 100%; margin-top: 20px;" class="table-bordered">
            <thead>
                <td colspan="4"><strong>Diferença de Quantidade</strong></td>
                <tr>
                    <th width="10">Componente</th>
                    <th width="350">Descrição</th>
                    <th width="30">Qtd V{{ Va }}</th>
                    <th width="30">Qtd V{{ Vb }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in diferencas.comuns_com_diferencas %}
                    <tr>
                        <td>{{ item.componente }}</td>
                        <td>{{ item.descricao }}</td>
                        <td>{{ item.quantidade_BOMs }}</td>
                        <td>{{ item.quantidade_BOMs_SAP }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Nenhum componente comum com diferenças de quantidade encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Menu e Flash -->
    {% include 'menu.html' %}
    <script src="../static/js_zaire/salvar_edit.js"></script>
</body>
</html>