/* Estilo para o conteúdo principal */


/* Estilo da coluna à esquerda */
.left-side-1 {
    position: absolute;
    top: 90px;    /* Ajuste a distância do topo */
    left: 50px;  /* Ajuste a distância da direita */
    right: 50px;
    width: 95%;   /* Ajuste conforme necessário */
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}

.left-side-1 input, 
.left-side-1 textarea {
    width: 97%; /* Ajuste para reduzir o comprimento dos campos */
}

/* Estilo da coluna à direita */
.left-side-2 {
    position: absolute;
    top: 320px;    /* Ajuste a distância do topo */
    right: 50px;  /* Ajuste a distância da direita */
    width: 40%;   /* Ajuste conforme necessário */
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
}

/* Estilo da coluna à esquerda */
.right-side-1 {
    position: absolute;
    top: 90px;    /* Ajuste a distância do topo */
    right: 50px;  /* Ajuste a distância da direita */
    width: 45%;   /* Ajuste conforme necessário */
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo da coluna à direita */
.right-side-2 {
    position: absolute;
    top: 310px;    /* Ajuste a distância do topo */
    right: 50px;  /* Ajuste a distância da direita */
    width: 45%;   /* Ajuste conforme necessário */
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
}

.right-side-2 input, 
.right-side-2 textarea {
    width: 90%; /* Ajuste para reduzir o comprimento dos campos */
}

.form-row {
    display: flex;
    gap: 20px; /* Ajusta o espaçamento entre os campos */
    margin-bottom: 15px; /* Ajusta o espaçamento entre as linhas */
}

.form-group {
    flex: 1; /* Os campos ocupam a mesma largura dentro da linha */
    display: flex;
    flex-direction: column; /* Garante que o label e o input fiquem empilhados */
}

.form-input {
    width: 100%; /* Garante que o campo de entrada ocupe toda a largura do seu container */
}

.submit-btn {
    width: auto;
    padding: 10px 20px; /* Ajuste do tamanho do botão */
    background-color: #5c6bc0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #3f4a99;
}

.submit-btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(92, 107, 192, 0.5);
}
